.advantages {
  padding: 60px 0 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0 0;
  }
}

.advantages__title {
  margin: 0 0 50px;
}

.section-list-advant {
  margin-top: calc(-1 * 20px);

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 20px);
  }
}

.section-list-advant__item {
  margin-top: 20px;
  flex-basis: calc(100% / 1 - 20px);

  @media (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  @media (min-width: 768px) {
    flex-basis: calc(100% / 2 - 20px);
    margin-left: 20px;
  }

  @media (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 20px);
    margin-left: 20px;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $white-back;
}

.section-list-advant__icon {
  width: 70px;
  height: 70px;
}

.section-list-advant__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.section-list-advant__text {
  margin: 0px;
  color: $grey-text;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}
