.page-header {
  // margin: 0 auto;
  width: 100%;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    max-width: 767px;
  }
}

.menu-button {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.page-header {
  position: relative;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $black-text;
  text-decoration: none;
  padding: 16px 0 16px;
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.navigation__logo {
  color: $blue-hover;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

// .site-nav {
//   padding: 0;
//   margin: 0;

//   &__item:not(:last-child) {
//     margin-bottom: 32px;
//   }

//   &__link {
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 40px;
//     line-height: 47px;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     color: $black-text;

//     &:hover,
//     &:focus {
//       color: $blue-hover;
//     }

//     &--active {
//       color: $blue-hover;
//     }
//   }
// }

.site-nav {
  align-items: center;
  margin: 0;
  margin-left: 93px;
  padding: 0;

  display: none;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: block;
    padding: 32px 0;

    color: $black-text;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  &__link:hover,
  &__link:focus {
    color: $blue-hover;
  }
  &__link--active {
    color: $blue-hover;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  // max-width: 480px;
  width: 100vw;
  height: 100vh;
  padding: 48px 0 0 40px;
  top: 0;
  left: 0;
  background-color: $white-text;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-button {
  // margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button-x {
  position: absolute;
  border: none;
  padding: 24px 12px;
  display: flex;
  background-color: transparent;
  right: 0;
  top: 0;
}

.contacts-list {
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;

  &__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $grey-text;
  }
  &__icon--mail,
  &__icon--phone {
    display: none;
  }
}

.contacts-hover:hover,
.contacts-hover:focus {
  color: $blue-hover;
  fill: $blue-hover;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.social-navigation {
  display: flex;
  padding: 0;
  &__link {
    color: $blue-hover;
    padding: 0;
  }
}

.social-navigation__item:not(:last-child) {
  margin-right: 20px;
}

.social-navigation__link--stick {
  margin-left: 10px;
}
